// lang ar
body:lang(ar) {
  direction: rtl;
  .about_section .boxes .box .text h6 {
    padding-right: 2%;
  }
  .project .contact {
    text-align: start;
  }
  .project .contact {
    justify-content: flex-start;
  }
  header .mobile-menu {
    left: 25px;
    right: 89%;
  }
  .project_section {
    padding: 5% 0;
   
    .tab-content {
      .box-1 {
        &::before {
          content: "";
          transform: translate(550px, 300px);
        }
        &:hover {
          &::before {
            transform: translate(21px, 0px);
          }
        }
        .caption-1 {
          &:hover {
            h3 {
                  transform: translate(-10px, 22px);
             padding-inline-start: 5%;
            }
            p{
                 transform: translate(-10px, 37px);
                         padding: 0 5%;
  
            }
          }
          h3
           {
            transform: translate(200px, -200px);
           
          }
           p {
            transform: translate(260px, -260px);
         
          }
        }
      }
    }
  }
  .single_project .page-title .breadcrumb{
    text-align: right;
  }
  .breadcrumb-item+.breadcrumb-item::before{
    float: right;
    padding-left: .5rem;
    font-size: 'bold';
  }
  .breadcrumb-item+.breadcrumb-item{
    padding-right: .5rem;
  }
  .together span .number {
    unicode-bidi: plaintext;
  }
  .email_footer{
    width: 27%;
  }
  .data_footer{
    width: 63%;
  }

  .lightboxhwhw {
    .modal-dialog {
      max-width: 90%;
      .modal-content {
        background-color: transparent;
        border: transparent;
        .modal-header {
          border: none;
          .btn-close {
            filter: brightness(0) invert(1);
            z-index: 9999999;
            opacity: 1;
          }
        }
      }
      img, video {
        display: block;
        margin: 0 auto;
        width: 80%;
        height: 80vh;
      }
    }
  }
}

// lang en
body:lang(en) {
  direction: ltr;
}

